* {
	margin: 0;
	padding: 20px 0;
	box-sizing: border-box;
}

body {
	background-color: crimson;
	color: ghostwhite;
}

#game-canvas {
	width: 800px;
	height: 600px;
	border: solid 1px rgb(204, 17, 17);
}
